@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    /*font-family: 'Kaushan Script', cursive;*/
}
#banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.25),#009688),
    url(https://raw.githubusercontent.com/JamesMacklean/JamesMacklean.github.io/master/resources/background.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
    padding: 3%;
}
.logo{
    width: 450px;
    position: absolute;
    top: 3%;
    cursor: pointer;
}
nav{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.cart-icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    top: 2%;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    list-style: none;
    display: inline-block; 
    margin: 0px 30px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    position: relative;  
}
nav ul li a::after{
    content: '';
    height: 2px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transition: 0.3s;
    transform: translateX(-50%);
}
nav ul li a:hover::after{
    width: 100%;
}
.banner-text{
    position: absolute;
    bottom: 8%;
    color: #fff;
}
.banner-text p{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 50px;
}
.banner-text h1{
    font-family: sans-serif;
    font-size: 170px;   
    line-height: 160px;
    margin-left: -10px;
    
    /*Visual Effects*/
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background:url(https://raw.githubusercontent.com/JamesMacklean/JamesMacklean.github.io/master/resources/images/back.png);
    -webkit-background-clip: text;

    /*Animation Effects*/
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.banner-text h3{
    font-weight: 500;
    font-size: 24px;
}
.banner-button{
    margin: 30px auto 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;   
}
.banner-button a{
    width: 190px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    transition: color 0.3s;
    z-index: 1;
}
.banner-button a .hover-effect{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    transform: translateX(-50%);
    transition: 0.3s;
    z-index: -1;
}
.banner-button a:hover .hover-effect{
    width: 100%;
}
.banner-button a:hover{
    color: #009688;
}
#span-text {
    margin: 20px;
    margin-right: 180px;
}
.social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.social-icons img{
    width: 25px;
    display: block;
    margin: 25px 5px;
}

/*DESKTOP VERSION*/
@media screen and (max-width: 1280px), (max-height: 800px){
    .logo{
        width: 350px;
    }  
    .cart-icon{
        width: 20px;
    }
    nav ul li{
        margin: 0px 15px;
        font-size: 14px;
    }
    .banner-text p{
        font-size: 40px;
        font-weight: 500;
    }
    .banner-text h1{
        font-size: 130px;  
        line-height: 120px;
    }
    .banner-text h3{
        font-size: 19px;
    }
    #span-text {
        font-size: 14px;
    }
    .banner-button{
        margin: 20px auto 0;  
    }
    .banner-button a{
        font-size: 14px;
        width: 160px;
    } 
    .social-icons img{
        width: 20px;
    }
}
@media screen and (max-width: 1024px), (max-height: 600px){
    .logo{
        width: 300px;
    }  
    .cart-icon{
        width: 17px;
        /*margin-right: 3%;*/
    }
    nav ul li{
        margin: 0px 15px;
        font-size: 12px;
    }
    .banner-text p{
        font-size: 35px;
    }
    .banner-text h1{
        font-size: 100px;  
        line-height: 90px; 
    }
    .banner-text h3{
        font-size: 16px;
    }
    #span-text {
        font-size: 12px;
    }
    .banner-button{
        margin: 10px auto 0;  
    }
    .banner-button a{
        font-size: 12px;
        width: 140px;
    } 
    .social-icons img{
        width: 17px;
    }
}

/*MOBILE VERSION*/
@media screen and (max-width: 600px){
    #banner{
        padding: 0;
    }
    .logo{
        cursor: pointer;
        margin-top: 5%;
        width: 225px;
        
        left: 50%;
        transform: translateX(-50%); 
    } 
    .cart-icon{
        width: 15px;
    }
    nav{
        visibility: hidden;
    }
    nav ul{
        padding-right: 10px;
    }
    nav ul li{
        margin: 0px 10px;
        font-size: 12px;
    }
    .banner-text{
        
        left: 50%;
        transform: translateX(-50%); 
    }
    .banner-text p{
        width: 275px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-size: 20px;
    }
    .banner-text h1{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 70px;  
        line-height: 90px; 
    }
    .banner-text h3{
        width: 300px;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #span-text {
        font-size: 10x;
        text-align: center;
        margin-right: 3%;
        margin-left: 3%;
    }
    .banner-button{
        display: flex;
        justify-content: center;
        margin: 20px auto 0;  
    }
    .banner-button a{
        font-size: 10px;
        width: 120px;
    } 
    .social-icons{
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: 3%;
    }
    .social-icons img{
        width: 15px;
        display: inline-block;
        margin: 10px 5px;
    }
}
@media screen and (max-height: 500px){
    .logo{
        width: 195px;
    }
    .cart-icon{
        width: 17px;
    }
    nav ul li{
        margin: 0px 15px;
        font-size: 10px;
    }
    .banner-text{
        bottom: 8%;
    }
    .banner-text p{
        font-size: 15px;
    }
    .banner-text h1{
        font-size: 50px;  
        line-height: 60px; 
    }
    .banner-text h3{
        font-size: 10px;
    }
    #span-text {
        font-size: 10px;
        margin: 10px;
    }
    .banner-button{
        margin: 5px auto 0;
    }
    .banner-button a{
        font-size: 10px;
        width: 110px;
        height: 32px;
        padding: 7px 0;
    } 
    .social-icons{
        /*bottom: -1%;*/
    }
    .social-icons img{
        width: 15px;
    }
}
@media screen and (max-height: 340px){
    .logo{
        top: -3%;
    } 
    .social-icons{
        bottom: -1%;
    }
}